/.venv
/data
/logs
/reports
/project
/models
folder_structure_python.bat
create_venv.ps1
/archives
/conf
/docs


*.fls
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.folder_structure_python
*.log
*.out
*synctex.gz
*.toc
*.sav
